<%- include("partials/header.ejs") %>
        
    <div class="cursor"></div>  
    <script src="homeanim.js"></script>
    <section>
        <div class="landing">
            <div class="title">
                <span class="letter">S</span>
                <span class="letter">L</span>
                <span class="letter">V </span>
                <span class="letter">C</span>
                <span class="letter">e</span>
                <span class="letter">r</span>
                <span class="letter">a</span>
                <span class="letter">m</span>
                <span class="letter">i</span>
                <span class="letter">c</span>
                <span class="letter">s</span>
            </div>
            <div class="cortinas"></div>
        </div>
    </section> 
    <h3>Our Services</h3>
    
        <main class="service">
            <section class="feat" data-aos="fade-right">
                <img src="../resources/DSC_0369.JPG" alt="">
                <div>
                    <h3>Kitchen Solutions</h3>
                    <p>Meticulously designed sinks, faucets and chimneys. All made keeping hygiene and durability in mind.</p>
                    <a href="https://www.franke.com/in/en.html" class="btn">Learn More</a>
                </div>
            </section>

            <section class="feat"data-aos="fade-left">
                <img src="../resources/tiles.jpg" alt="">
                <div>
                    <h3>Floor/Wall Tiles</h3>
                    <p>Thousands to choose from, all available in breath-taking designs, finishes and textures. Tile ranges include polished, glazed, vitrified and HD digital ceramic floor tiles.</p>
                    <a href="https://www.kajariaceramics.com/" class="btn">Learn More</a>
                </div>
            </section>

            <section class="feat"data-aos="fade-up-right">
                <img src="../resources/racold.JPG" alt="">
                <div>
                    <h3>Solar Heaters</h3>
                    <p>Solar and electric heaters with a whole range of safety, longevity and energy efficiency features.</p>
                    <a href="http://www.racold.com/" class="btn">Learn More</a>
                </div>
            </section>

            <section class="feat"data-aos="fade-up-left">
                <img src="../resources/appliances.JPG" alt="">
                <div>
                    <h3>Accessories</h3>
                    <p>Extensive range of bathroom accessories to make your bathroom more functional and aesthetic.</p>
                    <a href="https://www.cera-india.com/faucets/" class="btn">Learn More</a>
                </div>
            </section>

            <section class="feat"data-aos="fade">
                <img src="../resources/DSC_0298.JPG" alt="">
                <div>
                    <h3>Sanitary Ware</h3>
                    <p>Exquisite designs and features to enhance your bathroom décor perfectly. Our wide range of wash basins, offering Wall Hung, Over Counter, Under Counter and Counter-top installation are well coordinated to suit every need.</p>
                    <a href="https://jaquar.com/en" class="btn">Learn More</a>
                </div>
            </section>
        </main>
        
        <div class="container">

            
        
            <div class="gallery">
        
                <div class="gallery-item">
                    <img class="gallery-image" src="../logos/jaquar.jpg" alt="">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="../logos/cera2.png" alt="">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="../logos/kajaria.png" alt="">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="../logos/franke.png" alt="">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="../logos/grohe.jpg" alt="">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="../logos/artize2.svg" alt="">
                </div>
        
            </div>
        
        </div>
        <main class="find">
            <h3>Find Us At</h3>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.9819619332397!2d77.68757931553833!3d12.908880790897156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1317578d48b1%3A0x192794bf31f4447!2sKajaria%20Star%20-%20Design%20Tiles%20for%20Wall%2C%20Floor%2C%20Bathroom%2C%20%26%20Kitchen%20in%20Carmelaram%20Bengaluru!5e0!3m2!1sen!2sin!4v1587561468095!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </main>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
         <script>
             AOS.init({
	offset: 400,
	duration:1000
});

         </script>  
        


    <%- include("partials/footer.ejs") %>

    