.jumbotron {
    background: url('https://i.imgur.com/KYoC84W.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-weight: 500;
}

#test1 {
    height: 800px;
}

h1 {
    padding: 0 auto;
    padding-top: 30%;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
    height: 100%;
    background: #edf5v1;
    
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}